.tab-bar {
    height: 51px;
    width: 962px;
  }
  
  .tab-bar .frame {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    position: relative;
  }
  
  .tab-bar .tab-instance {
    height: 51px !important;
    width: 161.66px !important;
  }
  
  .tab-bar .design-component-instance-node {
    margin-left: -9.17px !important;
    margin-right: -9.17px !important;
  }
  
  .tab-bar .tab-2 {
    height: 51px !important;
    width: 252.03px !important;
  }
  